<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Feedbakh</title>

    <link rel="icon" type="image/x-icon" href="assets/logo_feedbakh.png" />

    <!-- BOOTSTRAP MINT -->
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/minty/bootstrap.min.css"
    />
    <link href="/public/css/index.css" rel="stylesheet" type="text/css" />

    <!-- CDN FONTAWESOME -->
    <script
      src="https://kit.fontawesome.com/5e790c6c97.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <%- include('../partials/navIndex'); %>

    <div class="col-md-4 offset-md-4">
      <div class="card">
        <h3 class="text-center pt-5">Iniciar sesión</h3>
        <!-- Si hay mensaje de error -->
        <small class="text-danger pb-2 pl-3 pr-3"><% if (messages.error){%> <%= messages.error%> <%}%></small>
        <form action="/login" method="POST" class="pb-5 pl-3 pr-3">
          <div class="form-group">
            <label for="email">Correo electrónico</label>
            <input
              class="form-control"
              type="email"
              id="email"
              name="email"
              required
            />
          </div>
          <div>
            <label for="password">Contraseña</label>
            <input
              class="form-control"
              type="password"
              id="password"
              name="password"
              required
            />
          </div>
          <a href="/register">¿No tienes cuenta? ¡Regístrate AQUÍ!</a>
          <br>
          <br>
          <button type="submit" class="btn btn-primary"
          >Ingresar</button>
        </form>
      </div>
    </div>

    
    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
